.card {
    background-color: #00000037 !important; /* me pisa el boostrap */
    border: solid 1px white !important;
    margin: auto;
    margin-top: 0%;
    width: 12rem;}
.card-img-top {
    width: 10rem;
    height: 10rem;
    }